name: Build and Push Docker Image

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    name: build and push Docker image (docker hub)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.prod
          platforms: linux/amd64,linux/arm64
          push: true
          no-cache: true
          tags: dahalsaroj/nch-cms-backend:latest

      - name: Verify Image
        run: |
          docker pull dahalsaroj/nch-cms-backend:latest
          docker run --rm dahalsaroj/nch-cms-backend:latest pnpm --version

      - name: Generate PEM file
        if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/develop'  || startsWith(github.ref, 'refs/tags/v')) }}
        run: echo "${{ secrets.SSH_KEY }}" > ~/access.pem && chmod 600 ~/access.pem

      - name: SSH and pull Image and run docker-compose up -d
        run: |
          ssh -i ~/access.pem -o StrictHostKeyChecking=no ${{secrets.USER_AND_IP}} 
          docker pull dahalsaroj/nch-cms-backend:latest
          cd /root/nch 
          docker-compose up -d
